* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
  height: 100px;
  font-family: 'Copperplate Gothic Light';
  font-size: 25px;
  color: whitesmoke;
}

.button {
  background : linear-gradient(to right, #2b5876 0%, #4e4376  51%, #2b5876  100%);
  color : whitesmoke;
  border-radius: 3px;
  border: none;
  padding: 10px;
  font-family: 'Copperplate Gothic Light';
  font-size: 15px;
  cursor: pointer;
  height: 52px;

}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 80px;
  margin-left: 90px;
}

.input {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Copperplate Gothic Light';
  font-size: 15px;
  width: 300px;
  height: 30px;
}
 
.table {
 border: 2px solid #ccc; 
 border-collapse: collapse;
 width: 800px;  
}

th, td{
  border: 3px solid #ccc;
  padding: 4px 6px;
  text-align: center;
  height: 40px;
  font-family: 'Copperplate Gothic Light';
}

.table-container {
  display: flex;
  justify-content: center;
  margin-top: 50px; 
  margin-left: 100px;
  margin-bottom: 50px;
}

.else-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

.notesimage {
  width: 100px;
  height: 100px;
}

.checkbox {
  width: 20px;
  height: 20px;
}

.task-title:hover {
  cursor: pointer;
  color: #1CB5E0;
  text-decoration: underline;
  text-underline-offset: 5px;
} 

.select {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Copperplate Gothic Light';
  font-size: 15px;
  width: fit-content;
  height: 53px;
}
         
.error {
  color: red;
  font-family: 'Copperplate Gothic Light';
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}

.button:disabled {
  cursor: not-allowed;
}

.crttask{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  gap: 50px;
  font-family: 'Copperplate Gothic Light';
}

.crttaskinput{
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 500px;
}

.crttask label{
  font-weight: bold;
  font-size : 20px;
  width: 150px;
}

.crttask input{
   border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Copperplate Gothic Light';
  font-size: 15px;
  width: 300px;
  height: 25px;
}

.crttask textarea{
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Copperplate Gothic Light';
  font-size: 15px;
  width: 400px;
  height: 200px;
  vertical-align: middle;
}

.crttaskbtn{
 background : linear-gradient(to right, #2b5876 0%, #4e4376  51%, #2b5876  100%);
  color : whitesmoke;
  border-radius: 3px;
  border: none;
  padding: 10px 25px;
  font-family: 'Copperplate Gothic Light';
  font-size: 21px;
  cursor: pointer;
  height: 52px;
}

.inputbtn:disabled{
  cursor: not-allowed;
}

.crttaskbtn-container{
display: flex;
align-items: center;
justify-content: center;
margin-top: 60px;
gap: 350px;
margin-left: 50px;
}

.taskdetails{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  gap: 50px;
  font-family: 'Copperplate Gothic Light';
  align-items: center;
  justify-content: center;
}

.taskdetails label{
 font-weight: bold;
 font-size: 18px;
}

.detailpara{
  font-family: 'Copperplate Gothic Light';
  font-size: 13px;
  font-weight: bold;
  display: flex;
  vertical-align: middle;
  margin-left: 300px;
  margin-top: 50px;
  gap: 10px;
}

.detailcheckbox{
  width: 20px;
  height: 20px;
}

.inputbtn-container{
  display: flex;
  gap: 10px;
  margin-left: 500px;
}

.inputbtn{
  background : linear-gradient(135deg, #bdc3c7 50%, #2c3e50 100%);
  color : black;
  border-radius: 3px;
  border: none;
  padding: 5px 10px;
  font-family: 'Copperplate Gothic Light';
  font-size: 20px;
  cursor: pointer;
  height: 40px;
  gap: 10px;
}

.trash{
  width: 20px;
  height: 20px;
}

.firstAddbtn{
  margin-bottom: 100px;
}



