* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background : linear-gradient(135deg, #bdc3c7 50%, #2c3e50 100%);
  height: 90px;
  font-family: 'Copperplate Gothic Light';
  font-size: 25px;
  color: black;
  font-weight: bold;
}

.button {
  background : linear-gradient(135deg, #bdc3c7 50%, #2c3e50 100%);
  color : black;
  border-radius: 3px;
  border: none;
  padding: 10px;
  font-family: 'Copperplate Gothic Light';
  font-size: 15px;
  cursor: pointer;
  height: 54px;

}

.button-container {
  justify-content: flex-end;
  margin-right: 0;
}

.table {
 border: 2px solid #ccc; 
 border-collapse: collapse;
 width: 100%;
}

th, td{
  border: 3px solid #ccc;
  padding: 4px 6px;
  text-align: center;
  height: 40px;
  font-family: 'Copperplate Gothic Light';
}

.table-container {
  display: flex;
  justify-content: start; 
  margin: 0;
  min-height: 300px;
}

.else-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

.notesimage {
  width: 100px;
  height: 100px;
}

.checkbox {
  width: 20px;
  height: 20px;
}

.task-title:hover {
  cursor: pointer;
  color: #1CB5E0;
  text-decoration: underline;
  text-underline-offset: 5px;
} 

.select {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Copperplate Gothic Light';
  font-size: 15px;
  height: 53px;
}
         
.error {
  color: red;
  font-family: 'Copperplate Gothic Light';
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 2px;
}

.button:disabled {
  cursor: not-allowed;
}

.crttask{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
}

.crttaskinput{
 display: grid;
 align-items: start;
 grid-template-columns: 150px 1fr;
}

.crttask label{
  font-family: 'Copperplate Gothic Light';
  font-size: 18px;
  font-weight: bold;
}

.crttask input{
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Copperplate Gothic Light';
  font-size: 15px;
  max-width: 300px;
  height: 25px;
}

.crttask textarea{
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Copperplate Gothic Light';
  font-size: 15px;
  width: 100%;
  max-width: 400px;
  height: 200px;
}

.crttaskbtn{
background : linear-gradient(135deg, #bdc3c7 50%, #2c3e50 100%);
color : black;
border-radius: 3px;
border: none;
padding: 15px 20px;
font-size: 18px;
font-family: 'Copperplate Gothic Light';
font-weight: bold; 
cursor: pointer;
}

.inputbtn:disabled{
  cursor: not-allowed;
}

.crttaskbtn-container{
  display: flex;
  justify-content: start;
  gap: 360px;
  margin-top: 3px;
}

.taskdetails{
  display: flex;
  flex-direction: column;
  font-family: 'Copperplate Gothic Light';
  padding: 20px;
  gap: 40px;
  font-size: 18px;
  max-width: 600px;
  line-height: 1.6;
}

.taskdetails label{
 font-weight: bold;
 font-size: 20px;
}

.detailpara{
  font-family: 'Copperplate Gothic Light';
  font-size: 13px;
  display: flex;
  align-items: center;
  font-weight: bold;
  gap: 10px;
}

.detailcheckbox{
  width: 20px;
  height: 20px;
}

.detailbtn-container{
  display: flex;
  justify-content: start;
  gap: 100px;
  margin-top: 3px;
}

.card-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: 'Copperplate Gothic Light';
  margin-top: 20px;
}

.all-card{
 background : linear-gradient(135deg, #bdc3c7 50%, #2c3e50 100%);
  min-height: 50px;
  border: none;
  border-radius: 10px;
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.complete-card{
  background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
  min-height: 50px;
  border: none;
  border-radius: 10px;
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.pending-card{
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  min-height: 50px;
  border: none;
  border-radius: 10px;
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.all-card:hover, .complete-card:hover, .pending-card:hover{
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}


.inputbtn-container{
  display: flex;
  justify-content: center;
  gap: 10px;
}

.inputbtn{
  background : linear-gradient(135deg, #bdc3c7 50%, #2c3e50 120%);
  color : black;
  border-radius: 3px;
  border: none;
  padding: 8px 15px;
  font-family: 'Copperplate Gothic Light';
  font-size: 22px;
  cursor: pointer;
  height: 45px;
}

.inputbtn:hover{
  background : darkgrey;
}

.trash{
  width: 20px;
  height: 20px;
}

.firstAddbtn{
  margin-bottom: 100px;
}

.no-records-text{
  font-family: 'Copperplate Gothic Light';
  font-size: 18px;
  font-weight: bold;
  color: black;
  margin-bottom: 50px;
}

.no-records{
  margin-top: 25px;
}

.update-text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  font-family: 'Copperplate Gothic Light';
  font-size: 15px;
  font-weight: bold;
}

.update-text p {
  margin: 0;
}

.update-checkbox {
  width: 20px;
  height: 20px;
  margin: 0;
}

.page-layout {
  display: flex;
  gap: 20px;
  padding: 50px;
}

.left-section {
  flex: 7;
  overflow-x: auto;
}

.right-section {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.top-buttons{
  justify-content: flex-end;
  margin-bottom: 10px;
}

@media (max-width: 900px) {
  .page-layout {
    flex-direction: column;
  }
}

.duedate-wrapper{
  margin-top: 40px;
}

.due-Date{
  font-weight: bold;
}

.Overdue{
  color: red;
}

.Today{
  color: orange;
}

.Upcoming{
color: black;
}

