* {
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
}

.app {
  min-height: 100vh;
}

.app.dark {
  background-color: #333;
  color: whitesmoke;
}

.app.light {
  background-color: white;
  color: black;
}

.app a {
  color: inherit;
  text-decoration: none;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background : linear-gradient(135deg, #bdc3c7 50%, #2c3e50 100%);
  height: 80px;
  font-family: 'Copperplate Gothic Light';
  font-size: 22px;
  color: black;
  font-weight: bold;
}

.switch {
  position: absolute;
  width: 50px;
  height: 25px;
  right: 20px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  background: #ccc;
  border-radius: 25px;
  height: 100%;
  width: 100%;
  cursor: pointer;
  transition: 0.3s;
}

.slider::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  top: 2.5px;
  left: 3px;
  transition: 0.3s;
  }

input:checked + .slider {
  background: grey;
}

input:checked + .slider::before {
  transform: translateX(24px);
}

.button {
  background : linear-gradient(135deg, #bdc3c7 50%, #2c3e50 100%);
  color : black;
  border-radius: 3px;
  border: none;
  padding: 10px;
  font-family: 'Copperplate Gothic Light';
  font-size: 15px;
  cursor: pointer;
  height: 54px;

}

.button-container {
  justify-content: flex-end;
  margin-right: 0;
}

.table {
 border: 2px solid #ccc; 
 border-collapse: collapse;
 width: 100%;
}

th, td{
  border: 3px solid #ccc;
  padding: 4px 6px;
  text-align: center;
  height: 40px;
  font-family: 'Copperplate Gothic Light';
}

.table-container {
  display: flex;
  justify-content: start; 
  margin: 0;
  min-height: 450px;
}

.else-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

.notesimage {
  width: 100px;
  height: 100px;
}

.checkbox {
  width: 20px;
  height: 20px;
}

.task-title:hover {
  cursor: pointer;
  color: #1CB5E0;
  text-decoration: underline;
  text-underline-offset: 5px;
} 

.select {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Copperplate Gothic Light';
  font-size: 15px;
  height: 53px;
}
         
.error {
  color: red;
  font-family: 'Copperplate Gothic Light';
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 2px;
}

.button:disabled {
  cursor: not-allowed;
}

.crttask{
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-height: 100vh;
  gap: 30px;
}

.crttaskinput{
 display: grid;
 align-items: start;
 grid-template-columns: 150px 1fr;
}

.crttask label{
  font-family: 'Copperplate Gothic Light';
  font-size: 18px;
  font-weight: bold;
}

.crttask input{
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Copperplate Gothic Light';
  font-size: 15px;
  max-width: 300px;
  height: 25px;
}

.crttask textarea{
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Copperplate Gothic Light';
  font-size: 15px;
  width: 100%;
  max-width: 400px;
  height: 200px;
}

.dropdown.light{
  background : linear-gradient(135deg, #bdc3c7 50%, #2c3e50 100%);
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Copperplate Gothic Light';
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  width: fit-content;
}

.dropdown.dark{
  background : linear-gradient(135deg, #bdc3c7 50%, #2c3e50 100%);
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Copperplate Gothic Light';
  font-size: 15px;
  font-weight: bold;
  color: black;
  cursor: pointer;
  width: fit-content;
}

.dropdowncrt{
 border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Copperplate Gothic Light';
  font-size: 15px;
  color: black;
  cursor: pointer;
  width: fit-content; 
}

.crttaskbtn{
background : linear-gradient(135deg, #bdc3c7 50%, #2c3e50 100%);
color : black;
border-radius: 3px;
border: none;
padding: 15px 20px;
font-size: 18px;
font-family: 'Copperplate Gothic Light';
font-weight: bold; 
cursor: pointer;
}

.inputbtn:disabled{
  cursor: not-allowed;
}

.crttaskbtn-container{
  display: flex;
  justify-content: start;
  gap: 360px;
  margin-top: 3px;
}

.taskdetails{
  display: flex;
  flex-direction: column;
  font-family: 'Copperplate Gothic Light';
  padding: 20px;
  gap: 40px;
  font-size: 18px;
  max-width: 600px;
  line-height: 1.6;
}

.taskdetails label{
 font-weight: bold;
 font-size: 20px;
}

.detailpara{
  font-family: 'Copperplate Gothic Light';
  font-size: 13px;
  display: flex;
  align-items: center;
  font-weight: bold;
  gap: 10px;
}

.detailcheckbox{
  width: 20px;
  height: 20px;
}

.detailbtn-container{
  display: flex;
  justify-content: start;
  gap: 100px;
  margin-top: 3px;
}

.card-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: 'Copperplate Gothic Light';
}

.all-card{
 background : linear-gradient(135deg, #bdc3c7 50%, #2c3e50 100%);
  min-height: 50px;
  border: none;
  border-radius: 10px;
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.complete-card{
  background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
  min-height: 50px;
  border: none;
  border-radius: 10px;
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.pending-card{
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  min-height: 50px;
  border: none;
  border-radius: 10px;
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.all-card:hover, .complete-card:hover, .pending-card:hover{
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

.search{
  background : linear-gradient(135deg, #bdc3c7 70%, #2c3e50 100%);
  border-radius: 10px;
  padding: 12px;
  font-family: 'Copperplate Gothic Light';
  font-size: 18px;
  width: 50%;
  color: black;
  border-color: gainsboro;
}

.search-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
}

.inputbtn-container{
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}

.inputbtn{
  background : linear-gradient(135deg, #bdc3c7 50%, #2c3e50 120%);
  color : black;
  border-radius: 3px;
  border: none;
  padding: 8px 15px;
  font-family: 'Copperplate Gothic Light';
  font-size: 22px;
  cursor: pointer;
  height: 45px;
}

.inputbtn:hover{
  background : darkgrey;
}

.trash{
  width: 20px;
  height: 20px;
}

.firstAddbtn{
  margin-bottom: 100px;
}

.no-records-text.light{
  font-family: 'Copperplate Gothic Light';
  font-size: 18px;
  font-weight: bold;
  color: black;
  margin-bottom: 50px;
}

.no-records-text.dark{
  font-family: 'Copperplate Gothic Light';
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin-bottom: 50px;
}

.no-records{
  margin-top: 25px;
}

.update-text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  font-family: 'Copperplate Gothic Light';
  font-size: 15px;
  font-weight: bold;
}

.update-text p {
  margin: 0;
}

.update-checkbox {
  width: 20px;
  height: 20px;
  margin: 0;
}

.page-layout {
  display: flex;
  gap: 20px;
  padding: 50px;
}

.left-section {
  flex: 7;
  overflow-x: auto;
}

.right-section {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.top-buttons{
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

@media (max-width: 900px) {
  .page-layout {
    flex-direction: column;
  }
}

.duedate-wrapper{
  margin-top: 30px;
}

.crtduedate{
  color: grey;
}

.crtprior{
  color: grey;
}

.calendar-due-date{
  font-weight: normal;
}

.due-Date{
  font-weight: bold;
}

.due-Overdue{
  color: red;
}

.due-today{
  color: orange;
}

.app.light .due-Date.due-Upcoming{
color: green;
}

.app.dark .due-Date.due-Upcoming{
color: lightgreen;
}

.calendar-container.dark{
  border: 2px solid darkgrey;
  padding: 15px; 
  border-radius: 10px;
  height: 258px;
  width: 350px;
}

.calendar-container.light{
  border: 2px solid darkgrey;
  padding: 15px; 
  border-radius: 10px;
  height: 258px;
  width: 350px; 
}

.calendar-container .date.due-Overdue {
  color: red;
} 

.calendar-container.dark .date.due-today{
  color: orange;
}

.calendar-container.light .date.due-today{
  color: orange;
}

.calendar-container.light .date.due-Date.due-Upcoming{
  color: darkgreen;
}

.calendar-heading.dark {
font-family: 'Copperplate Gothic Light';
display: flex;
align-items: center;
justify-content: center;
font-size: 23px;
font-weight: bold;
margin-bottom: 10px;
border-bottom: 2px solid darkgrey;
padding-bottom: 10px;
color: darkgrey;
}

.previous{
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: fixed;
  margin-right: 350px;
}

.next{
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: fixed;
  margin-left: 350px;
}

.calendar-heading.light {
font-family: 'Copperplate Gothic Light';
display: flex;
align-items: center;
justify-content: center;
gap: 70px;
font-size: 23px;
font-weight: bold;
margin-bottom: 10px;
border-bottom: 2px solid darkgrey;
padding-bottom: 10px;
color: darkgrey;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  font-family: 'Copperplate Gothic Light';
  font-size: 18px;
  text-align: center;
  color: darkgrey;
}

.today.light{
  font-weight: bold;
  color: black;
  border: 1px solid black;
  border-radius: 50%;
}

.today.dark{
  font-weight: bold;
  color: white;
  border: 1px solid white;
  border-radius: 50%;
}

.empty{
  visibility: hidden;
}

.date, .empty{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
}

.date{
  cursor: pointer;
}

.date.light{
  color: darkgrey;
}

.tableheaders {
  cursor: pointer;
}

.th-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.selected {
  background-color: gainsboro;
  border-radius: 50%;
}

.th-dropdown {
  position: relative;
  text-align: center;
}

.header-select {
  border: none;
  outline: none;
  background: transparent;
  font-size: inherit;
  font-weight: inherit;
  font-family: 'Copperplate Gothic Light';
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.th-dropdown::after {
  content: "\25BC";
  position: absolute;
  right: 15px;
  top: 53%;
  transform: translateY(-50%);
  font-size: 11px;
}

.th-dropdown.dark::after{
  color: white;
}

.header-select.dark {
  color: white;
}

.values.dark{
  color: black;
  font-weight: bold;
}